body {
    background-color: #868B9D;
    margin: 0px;
    font-family: roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    color: #83b3c9;
}
p {
    margin-bottom: 0px;
    padding: 0px 30px;
}
h3 {
    margin-top: 0px;
    padding: 30px 30px 0px 30px;
}
table, ul, h1, h4 {
    padding: 0px 30px;
}
td {
    min-width: 100px;
    vertical-align: top;
    padding: 5px;
}
.content {
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    position: fixed;
    top: 0;
    width: 1170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #414656;
    color: #A6ABBD;
}
.title {
    padding: 30px;
}
.profielfoto {
    width: 300px;
}
.about {
    padding: 0em 0em 2em 0em;
    background-color: #437E9A;
    color: #262B3A;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.experience {
    display: flex;
    flex-direction: row;
}
.left {
    background-color: #626778;
    color: #BCC1D3;
    padding-bottom: 2em;
}
.right {
    background-color: #A6ABBD;
    color: #414656;
    padding-bottom: 2em; 
}
.other {
    width: 1170px;
    background-color: #414656;
    color: #A6ABBD;
    padding: 2em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text {
    width: 75%;
}
